.main {
    text-align: center;
    margin-top: 1rem;
}


.sidenav { /* for desktop */
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f6fb;
    overflow-x: hidden;
    box-shadow: 3px 0px 3px 0 #adab9f;
    text-align: center;
}

.sidenav ul {
    margin-top:  12vh;
    padding-left: 0;
    display: inline-block;
}

.sidenav ul>div, button {
    margin: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 3px 4px 0 #adab9f;
} 


#title {
    font: 4rem 'Lobster', cursive; 
}

/* #region Color Buttons */


#black {
    background-color: black;
    height: 50px;
    width: 200px;
}

#red {
    background-color: #ff6961;
    height: 50px;
    width: 200px;
}

#orange {
    background-color: #ffb347;
    height: 50px;
    width: 200px;
}

#yellow {
    background-color: #fdfd96;
    height: 50px;
    width: 200px;
}

#green {
    background-color: #77dd77;
    height: 50px;
    width: 200px;
}

#blue {
    background-color: #aec6cf;
    height: 50px;
    width: 200px;
}

#purple {
    background-color: #b19cd9;
    height: 50px;
    width: 200px;
}

#white {
    background-color: white;
    height: 50px;
    width: 200px;
}

#hidden {
    visibility: hidden;
    height: 50px;
    width: 200px;
}

/* #endregion Color Buttons */

#reset {
    text-align: center;
    border: 1px solid lightgrey;
    vertical-align: middle;
    background-color: white;
    height: 50px;
    width: 200px;
    font: 1.5rem 'Alegreya Sans', sans-serif;    
}